@model SummerCampViewModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Input Scout Info</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ScoutName" class="form-label">Scout Name</label>
            <input asp-for="ScoutName" type="text" class="form-control" />
            <span asp-validation-for="ScoutName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age" class="form-label">Age</label>
            <input asp-for="Age" type="text" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rank" class="form-label">Rank</label>
            <input asp-for="Rank" type="text" class="form-control" />
            <span asp-validation-for="Rank" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority1" class="form-label">Merit Badge 1st Choice</label>
            
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
                        
            <span asp-validation-for="Priority1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority2" class="form-label">Merit Badge 2nd Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority3" class="form-label">Merit Badge 3rd Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority3" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority4" class="form-label">Merit Badge 4th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority4" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority5" class="form-label">Merit Badge 5th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority5" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority6" class="form-label">Merit Badge 6th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority6" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority7" class="form-label">Merit Badge 7th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority7" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority8" class="form-label">Merit Badge 8th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority8" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority9" class="form-label">Merit Badge 9th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority9" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority10" class="form-label">Merit Badge 10th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority10" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority11" class="form-label">Merit Badge 11th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority11" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority12" class="form-label">Merit Badge 12th Choice</label>
            @Html.DropDownList("dropdown", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control" })
            <span asp-validation-for="Priority12" class="text-danger"></span>
        </div>
        
             
        
         <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
         <a asp-controller="SummerCamp" asp-action="Index" class="btn btn-secondary" style="width:150px">
             Back to list
         </a>
    </div>
</form>