@model IEnumerable<SummerCampViewModel>

@{
    ViewData["Title"] = "Index";
}
<partial name="_Notifications" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary">Summer Camp Merit Badge Selections</h2>
        </div>
        <div class="col-6">
            <h3 class="text-secondary text">Sunday, July 2, 2023 to Saturday, July 8, 2023 <br /> Eastern Daylight Time <br /> Camp Friedlander</h3>
        </div>
        <div class="col-7 text-end">
            <a asp-action="Create" class="btn btn-secondary float-right">
                <i class="bi bi-person-fill-add"></i>
                &nbsp; Add Scout
            </a>
        </div>
    </div>
    <br /><br />
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Committee Member") || User.IsInRole("ScoutMaster") || User.IsInRole("AsstScoutMaster"))
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.ScoutName)</a>
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Rank
                    </th>
                    <th>
                        Merit Badge Priority 1
                    </th>
                    <th>
                        Merit Badge Priority 2
                    </th>
                    <th>
                        Merit Badge Priority 3
                    </th>
                    <th>
                        Merit Badge Priority 4
                    </th>
                    <th>
                        Merit Badge Priority 5
                    </th>
                    <th>
                        Merit Badge Priority 6
                    </th>
                    <th>
                        Merit Badge Priority 7
                    </th>
                    <th>
                        Merit Badge Priority 8
                    </th>
                    <th>
                        Merit Badge Priority 9
                    </th>
                    <th>
                        Merit Badge Priority 10
                    </th>
                    <th>
                        Merit Badge Priority 11
                    </th>
                    <th>
                        Merit Badge Priority 12
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ScoutName
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Rank
                        </td>
                        <td>
                            @item.Priority1
                        </td>
                        <td>
                            @item.Priority2
                        </td>
                        <td>
                            @item.Priority3
                        </td>
                        <td>
                            @item.Priority4
                        </td>
                        <td>
                            @item.Priority5
                        </td>
                        <td>
                            @item.Priority6
                        </td>
                        <td>
                            @item.Priority7
                        </td>
                        <td>
                            @item.Priority8
                        </td>
                        <td>
                            @item.Priority9
                        </td>
                        <td>
                            @item.Priority10
                        </td>
                        <td>
                            @item.Priority11
                        </td>
                        <td>
                            @item.Priority12
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }

        </table>
    }

</div>