@model GalleryViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Gallery Photo's
            </div>
        </div>
        <div class="card-body">

            <form id="frmPhototGraphy" class="form-check-inline" asp-action="AddPhotos" asp-controller="gallery" method="post" enctype="multipart/form-data">
                <div class="col-md-6 col-sm-6">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Photo</label>
                        
                        <div class="col-sm-6 custom-file">

                            <input asp-for="@Model.Photos.PhotoFile" type="file" class="custom-file-input" multiple="multiple">
                            <label class="custom-file-label" for="@Model.Photos.PhotoFile">Choose file</label>
                            <span asp-validation-for="@Model.Photos.PhotoFile" class="text-danger"></span>

                        </div>
                        <div class="col-sm-4"> <button type="submit" class="btn btn-danger">Upload All</button></div>
                    </div>



                </div>
            </form>
            <br />
            <div class="row">
                @if (Model.PhotosList != null)
                {
                    foreach (var item in Model.PhotosList)
                    {
                        <div class="col-sm-2">
                            <a href="@Url.Content("~/Resources/"+item.Name)" data-toggle="modal" data-title="@item.Title" data-gallery="gallery">
                                <img src="~/Resources/" asp-append-version="true" class="img-fluid mb-2" alt="white sample">
                            </a>
                            <a href="@Url.Action("DeletePhoto","gallery",new { id=item.Id})" style="float:right">Delete</a>
                        </div>
                    }

                }

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });


    </script>
}  