@model BSATroop829.Models.GirlTroopOrgChartViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GirlTroopOrgChartViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoutMaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantScoutMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantScoutMaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantScoutMaster2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantScoutMaster2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantScoutMaster3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantScoutMaster3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeniorPatrolLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeniorPatrolLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantSeniorPatrolLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantSeniorPatrolLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatrolLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatrolLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatrolLeader2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatrolLeader2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatrolLeader3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatrolLeader3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantPatrolLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantPatrolLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantPatrolLeader2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantPatrolLeader2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantPatrolLeader3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantPatrolLeader3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quartermaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quartermaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bugler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bugler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quartermaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quartermaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaplainAide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaplainAide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Librarian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Librarian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scribe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scribe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
