@model FilesViewModel
@using BSATroop829.Helpers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                <h1 class="text-center">Document Library</h1>
            </div>
        </div>
        <div class="card-body">
            @if (User.IsInRole("ScoutMaster") || User.IsInRole("Admin") || User.IsInRole("AsstScoutMaster") || User.IsInRole("Commitee Member"))
            {
                <form id="frmDocumentLibrary" class="form-control" asp-action="AddFiles" asp-controller="FileManager" method="post" enctype="multipart/form-data">
                    <div class="col-md-6 col-sm-6">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Photo</label>

                            <div class="col-sm-6 custom-file">

                                <input asp-for="@Model.Files.File" type="file" class="form-control" multiple="multiple">
                                <span asp-validation-for="@Model.Files.File" class="text-danger"></span>

                            </div>
                            <div class="col-sm-4"> <button type="submit" class="btn btn-danger">Upload All</button></div>
                        </div>



                    </div>
                </form>
            }

            <br />
            <div class="row">
                @if (Model.FileList != null)
                {
                    foreach (var item in Model.FileList)
                    {
                        <div class="card card-img" style="height:25%">
                            <div class="card-img">
                                <h2>@item.Name.Split('_')[1].ToUpper()</h2>
                                @Html.ActionLink("Download", "DownloadFile", new { id = item.Id }, new {@class = "btn btn-danger", @style = "float:right"})
                                @if (User.IsInRole("ScoutMaster") || User.IsInRole("Admin") || User.IsInRole("AsstScoutMaster") || User.IsInRole("Commitee Member"))
                                {
                                    <a href="@Url.Action("DeleteFile","FileManager",new { id=item.Id})" class="btn btn-secondary" style="float:right">Delete</a>
                                }
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>