@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
<h1>Roles</h1>
<br />
<form method="post" asp-action="addrole" asp-controller="roles">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>
<table class="table table-striped" id="roleTable">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                Id
            </th>

            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Id
                </td>
                <td>
                    <a asp-controller="roles" asp-action="editrole" asp-route-id="@role.Id" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-controller="roles" asp-action="deleterole" asp-route-id="@role.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id" class="btn btn-info">
                        <i class="bi bi-wrench-adjustable-circle"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>