@model IEnumerable<BSATroop829.Models.LoggingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Logs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                <td>@*
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                        <i class="bi bi-card-list"></i>
                        Details
                    </a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
